services:
  app:
    build: .
    image: emotion-analytics:v1
    restart: unless-stopped
    container_name: emotion-app
    ports:
      - "8501:8501"

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

    volumes:
      - ./data:/app/data

    tty: true